<div class="stack">
  <div class="header">
    <p class="cap center">My Tech Stack</p>
    <p class="center"> Technologies I've been working with recently</p>
  </div>
   <div class="icons ">
    <div class="icon-list">
        <img [src]="'./assets/images/java.png'" class="iconRow" alt="">
    </div>
    <div class="icon-list">
        <img [src]="'./assets/images/html-icon.png'" class="iconRow" alt="">
    </div>
    <div class="icon-list">
        <img [src]="'./assets/images/css-icon.png'" class="iconRow" alt="">
    </div>
    <div class="icon-list">
        <img [src]="'./assets/images/js.png'" class="iconRow" alt="">
    </div>
    <div class="icon-list">
        <img [src]="'./assets/images/angular-icon.svg'" class="iconRow" alt="">
    </div>
    <div class="icon-list">
        <img [src]="'./assets/images/springB.png'" class="iconRow" alt="">
    </div>
    <div class="icon-list">
        <img [src]="'./assets/images/mysql-icon.png'" class="iconRow" alt="">
    </div>
    <div class="icon-list">
        <img [src]="'./assets/images/bootstrap.svg'" class="iconRow" alt="">
    </div>
    <div class="icon-list">
        <img [src]="'./assets/images/git.svg'" class="iconRow" alt="">
    </div>
    <div class="icon-list">
        <img [src]="'./assets/images/github.svg'" class="iconRow" alt="">
    </div>

   </div>
</div>
