<h2 class="center">About Me</h2>
<p class="center">A small intro About me</p>
<div class="parentabout">

<div class="aboutme">
   
        <div class="about">
          <img [src]="'./assets/images/wallpaperabout.jpg'" class="about-img" alt="">
          <img [src]="'./assets/images/face.png'" class="face" alt="">
          <h4 class="center aboutName">Sheika Abuthair</h4>
          <h4 class="anima"><span></span></h4>
        </div>
        
        
    </div>
    <div class="about-des">
        <p class="leftContent">Enthusiastic engineering graduate with basic knowledge in coding and design. Proficient in Java, HTML 5, JavaScript,CSS and Angular. Ability to learn new software and technologies quickly.   </p>
        <button class="btn "><a  href="./assets/images/Abuthair_Resume.pdf" download="AbuthairCV">Download CV</a></button>
    </div>
    
</div>
