<h2 class="center">About Me</h2>
<p class="center">A small intro About me</p>
<div class="parentabout">

<div class="aboutme">
   
        <div class="about">
          <img [src]="'./assets/images/wallpaperabout.jpg'" class="about-img" alt="">
          <img [src]="'./assets/images/face.png'" class="face" alt="">
          <h4 class="center aboutName">Sheika Abuthair</h4>
          <h4 class="anima"><span></span></h4>
        </div>
        
        
    </div>
    <div class="about-des">
        <p class="leftContent">Enthusiastic engineering graduate with basic knowledge in coding and design. Proficient in Java, HTML 5, JavaScript,CSS and Angular. Ability to learn new software and technologies quickly.   </p>
        <button class="btn "><a  href="./assets/images/Abuthair_Resume.pdf" download="AbuthairCV">Download CV</a></button>
    </div>
    
</div>
<div class="exp">
  <h2 class=" heading">Experence</h2>
<div class="exp_rectangle">
  <div class="exp_tab"> 
    <div class="job-title">
      <h3>Assiciate Software Engineer</h3>
    </div>
    <div class="job-type">
      <p class="time">Full Time</p>
    </div>
    </div>
    <div class="orga_tab">

    
    <div class="organization">
     <div class="">
      <img [src]="'./assets/images/building.svg'" alt="">
     </div>
     <div class="">
      <p>Acheron Software Consultancy Pvt</p>
     </div>
    </div>
    <div class="organization">
      <div class="">
        <img [src]="'./assets/images/location.svg'" height="8px" width="10px">
      </div>
      <div class="">
        <p>Hyderabad</p>
      </div>
    </div>
    <div class="organization">
      <div class="">
        <img [src]="'./assets/images/duration.svg'" alt="">
      </div>
      <div class="">
        <p>Jan 2023 - Present</p>
      </div>
    </div>
</div>
</div>
<div class="divider"> </div>
<div class="exp_rectangle">
  <div class="exp_tab"> 
    <div class="job-title">
      <h3>Software Developer Trainee</h3>
    </div>
    <div class="job-type">
      <p class="time">Full Time</p>
    </div>
    </div>
    <div class="orga_tab">

    
    <div class="organization">
     <div class="">
      <img [src]="'./assets/images/building.svg'" alt="">
     </div>
     <div class="">
      <p>UNIQUE FORCE TECHNOLOGY</p>
     </div>
    </div>
    <div class="organization">
      <div class="">
        <img [src]="'./assets/images/location.svg'" height="8px" width="10px">
      </div>
      <div class="">
        <p>Chennai</p>
      </div>
    </div>
    <div class="organization">
      <div class="">
        <img [src]="'./assets/images/duration.svg'" alt="">
      </div>
      <div class="">
        <p>Aug 2022 - Dec 2022</p>
      </div>
    </div>
</div>
</div>
<div class="divider"> </div>
<div class="exp_rectangle">
  <div class="exp_tab"> 
    <div class="job-title">
      <h3>Internship Developer Trainee</h3>
    </div>
    <div class="job-type">
      <p class="time">Intern</p>
    </div>
    </div>
    <div class="orga_tab">

    
    <div class="organization">
     <div class="">
      <img [src]="'./assets/images/building.svg'" alt="">
     </div>
     <div class="">
      <p>Acheron Software Consultancy Pvt</p>
     </div>
    </div>
    <div class="organization">
      <div class="">
        <img [src]="'./assets/images/location.svg'" height="8px" width="10px">
      </div>
      <div class="">
        <p>Hyderabad</p>
      </div>
    </div>
    <div class="organization">
      <div class="">
        <img [src]="'./assets/images/duration.svg'" alt="">
      </div>
      <div class="">
        <p>Feb 2022 - Aug 2022</p>
      </div>
    </div>
</div>
</div>
</div>
 



